.projects {
  position: relative;
  padding: 1rem;
  padding-bottom: 0px;
}

.up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  padding: 10px;

  background-color: #b7cece;
  z-index: 100;
}

.up a {
  color: #f1f1f1;
  transition: all 0.1s;
}

.up a:hover {
  font-size: 1.3rem;
  color: #f1f1f1;
}
.contact-title {
  color: var(--background-color);
  padding: 1rem;
}

.key-features li {
  font-family: "general sans";
}
.key-features {
  border: var(--border-bottom);
  padding: 30px;
}

.features {
  opacity: 0;
}

.key h2 {
  opacity: 0;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.see-more {
  background-color: #1f1f1f;
  color: #f1f1f1;
  padding: 2px;
  height: 30px;
}
.project-number {
  font-size: 1rem;
}
.stack {
  display: flex;
  list-style: none;
  gap: 10px;
  padding-left: 0px;
  flex-direction: row;
}

.site-link {
  background-color: var(--background-color);
  padding: 4px;
  color: #b7cece;
}
@keyframes slide-up {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes text-up {
  0% {
    height: 20px;
  }
  100% {
    height: 55px;
  }
}
.project-link {
  animation-play-state: paused;
  animation: slide-left 2s linear;
  opacity: 0;
  transition: opacity 1s ease-in;
  filter: blur(100%);
}

.stack {
  opacity: 0;
}
.stack li {
  border: var(--border-bottom);
  padding: 4px;
}
.sticky-header {
  position: sticky;
  top: 10px;
}

.project-description {
  color: var(--text-color);
  flex: 1;
  padding: 2rem;
  border-right: var(--border-bottom);
  animation: 3s linear slide-left;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 1s ease-in;
}

#project-2 .project-description,
#project-5 .project-description {
  border-left: var(--border-bottom);
  border-right: 0px;
}

.project-explaination {
  font-size: 1.1rem;
  color: var(--text-color);
  font-family: "general sans";
  transition: opacity 1s ease-in;
  animation: slide-left 1.5s linear;
  animation-play-state: paused;
  opacity: 0;
}

.project {
  display: flex;
  padding: 1rem;
  min-height: 100svh;
  align-items: center;
  border-bottom: var(--border-bottom);
}
.project-title {
  text-decoration: underline 6px #ca212a;
  animation: slide-left 1s;
  animation-fill-mode: forwards;
  overflow-y: hidden;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 1s ease-in;
}
#project-2 .project-title {
  text-decoration: underline 6px #388ad2;
}
#project-3 .project-title {
  text-decoration: underline 6px var(--text-color);
}
#project-4 .project-title {
  text-decoration: underline 6px #8dc572;
}

#project-5 .project-title {
  text-decoration: underline 6px #4c7766;
}

#project-4 .project-title:hover {
  height: 100%;
}

#project-2 .project-img-cnt,
#project-5 .project-img-cnt {
  padding-right: 2rem;
  padding-left: 0px;
}

.project-img-cnt {
  flex: 1;
  max-width: 100%;
  height: 100%;
  position: sticky;
  top: 50px;
  align-self: center;
  padding-left: 2rem;
  transition: all 2s;
  z-index: 1000;
}

.project-img {
  max-width: 100%;
  transition: all 1s;
  border: var(--border-bottom);
  min-height: 100%;
  transform: scale(1.6);

  transition: transform 2s ease-in-out;
}

#project-img-4 {
  border: none;
}

.project-imgs-cnt {
  max-height: 100%;
  display: grid;
  grid-template-areas: "main";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex: 1;
}

.project-imgs-cnt .project-img {
  max-width: unset;
}

.proj-img-1 {
  z-index: 2;
}
.project-imgs-cnt:hover .proj-img-2 {
  margin-left: 55%;
}
.proj-img-2 {
  margin-left: 20%;
}
.proj-img-3 {
  margin-right: 20%;
}
.wrap {
  height: 100svh;
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: all 1s ease;
  padding: 1rem;
  max-width: 100svw;
}

.zoom {
  position: sticky;
  top: 4rem;
  object-fit: cover;
  height: 50%;
}

.zoom img {
  object-fit: cover;
}

.zoom-text {
  position: sticky;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
}

.zoom-text h1 span {
  font-family: "Zodiak";
  font-weight: 900;
  font-style: italic;
  background-color: #b7cece;
}

.zoom-text p {
  color: rgba(255, 255, 255, 0.801);
}

.project-imgs-cnt:hover .proj-img-3 {
  margin-right: 55%;
}
.project-imgs-cnt:hover .proj-img-1 {
  margin-bottom: 5%;
}
.project-imgs-cnt .project-img {
  border: none;
}

.proj-img-1,
.proj-img-3,
.proj-img-2 {
  height: 500px;
  grid-area: main;
  transition: all 1.5s ease-in-out;
  border: none;
}

.proj-img-1 .project-img,
.proj-img-2 .project-img,
.proj-img-3 .project-img {
  height: 100%;
}

@keyframes colorchange {
  from {
    color: rgb(56, 138, 210);
  }
  to {
    color: var(--background-color);
  }
}

.ime {
  animation: colorchange 2s infinite;
  transition: ease;
}

.project-img-cnt {
  display: grid;
  grid-template-areas: "main";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.project-img-cnt:hover .proj-img2 {
  margin-bottom: 70%;
}

.project-img-cnt:hover .proj-img3 {
  margin-top: 70%;
}

.project-img-cnt:hover .proj-img1 {
  width: 96%;
}

.proj-img1 img {
  box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.proj-img1,
.proj-img2,
.proj-img3 {
  transition: transform 0.3s ease-in-out;
}

.proj-img1 {
  grid-area: main;
  z-index: 2;
  width: 100%;
}

.proj-img2 {
  grid-area: main;
  transition: all 2s ease;
  width: 95%;
  margin-bottom: 10%;
}

.proj-img3 {
  grid-area: main;
  width: 95%;
  margin-top: 10%;
  transition: all 2s ease;
}
#project-4 .project-img-cnt:hover .proj-img2 {
  margin-bottom: 50%;
}

#project-4 .project-img-cnt:hover .proj-img3 {
  margin-top: 50%;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .proj-img-2 {
    margin-left: 40%;
  }
  .proj-img-3 {
    margin-right: 40%;
  }
  .introduction {
    flex: auto;
    flex-direction: column;
    max-width: 100svw;
    height: unset;
  }
  .md-tgl {
    height: 30px;
    width: 30px;
  }
  .key-features {
    padding: 30px;
  }
  .Skills {
    max-width: 100%;
  }
  .scroll-hint {
    position: relative;
    align-self: baseline;
    border-bottom: var(--border-bottom);
  }
  .nav-items {
    padding-left: 0px;
  }

  .wrap {
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
  }
  .zoom {
    transform: rotate(90deg) scale(1) !important;
    position: unset;
    align-self: center;

    width: 50%;
  }

  .zoom-text {
    border-bottom: 1px solid white;
  }

  .zoom h1 {
    font-size: 2em;
  }
  .project-description {
    border: 0px !important;
    padding: 0.5rem;
    height: 10svh;
    order: 2;
  }
  .stack {
    flex-wrap: wrap;
  }
  .navbar {
    padding: 0px;
  }
  .nav-items {
    text-wrap: nowrap;

    text-align: center;
    align-items: center;
  }
  .techstack ul {
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
    width: auto;
    padding: 0.8rem;
  }
  .projects {
    display: flex;
    flex-direction: column;
    width: 100svw;
    padding-left: 0px;
  }
  .tag {
    padding: 1.5rem;
  }
  .project {
    display: flex;
    max-width: 100svw;
    flex-direction: column;
  }
  .project-img-cnt {
    position: relative;
    top: 0px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    order: 1;
    margin-bottom: 2rem;
  }
  #project-4 .project-img-cnt {
    top: 60px;
    margin-bottom: 8rem;
  }
  #project-4 .project-img-cnt:hover {
    margin-top: 0rem;
    margin-bottom: 2rem;
    top: 30px;
  }
  .project-img {
    position: relative;
    top: 0px;
  }

  .contact-details {
    flex-direction: column;
    gap: 4px;
    padding-left: 0px;
  }

  .contact-detail {
    margin: 0px;
    text-align: center;
  }

  .contact-detail a {
    font-size: 1.2rem;
  }

  .about-title {
    text-align: center !important;
    padding-bottom: 0px !important;
    line-height: 0.9em;
  }
  .about-text {
    padding-top: 0px !important;
    padding: 1rem !important;
  }
  .nav-items li {
    word-spacing: 0.3px;
  }
  .Skills li {
    word-spacing: 1px;
  }
  #work-title {
    text-align: center !important;
    margin-bottom: 1rem;
  }

  .skill-text {
    display: none;
  }
}
.contact {
  height: auto;
  background-color: var(--text-color);
  color: var(--background-color);
  max-width: 100svw;
}
.contact-details {
  display: flex;
  padding: 1rem;
  gap: 4px;
  align-items: center;
}
.contact-detail {
  border: var(--border-bottom);
  color: var(--text-color);
  background-color: var(--background-color);
  text-align: center;
  padding: 1px;
}

.contact-detail a {
  color: var(--text-color);
}
.about {
  width: 100svw;
  border-bottom: var(--border-bottom);
}
#work-title {
  text-align: right;
}

footer {
  margin: 0px;
}

.emph {
  background-color: #8dc572;
  color: var(--text-color);
  padding: 4px;
}
footer p {
  margin: 0px;
  padding: 0.3rem;
  font-size: 0.7rem;
  margin-left: 0.2rem;
  font-family: "general sans";
}

.linked {
  background-color: var(--background-color);
  padding: 2px;
  padding-bottom: 0px;
  border-radius: 6px;
  align-items: center;
}

.about-title {
  padding: 2rem;
}
.about-text {
  padding: 2rem;
  font-family: "general sans";
}
