.introduction{
    align-items: center;
    position: relative;
    display: flex;
    height: 90svh;
    transition: all 0.4s;
    border-bottom: 1px solid #1f1f1f;
 
}

.tag{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.techstack{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-software-developer{
    color:#1f1f1f;
}
@keyframes pulse{
    from {
      color:#1f1f1f;
      
    }
    to{
      color: #f1f1f1;
     
    }}

.scroll-hint{
    position: absolute;
    bottom: 0;
    left: 10px;
    border: 1px solid #1f1f1f;
    border-radius: 0px;
    
    transition: all 3s;
    cursor: default;
    border-bottom: 0px;
}

.Skills{
    list-style: none;
    width: 50%;
}

.emphasis{
    background-color: #b7cece;
    transition: all 1s;
}

.Skills li{
    
    color: #1f1f1fe1;
    border: 1px solid #1f1f1f;
    text-align: center;
    font-size: 1.2rem;
    word-spacing: 20px;
    
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    animation-play-state: paused;
    
   
   
    opacity: 0;
    transition: opacity 3s ease-in ;
    filter: blur(100%);
}
.skill-text{
    writing-mode: vertical-rl;
    transform: translateZ(1);
    font-size: 3rem;
    letter-spacing: 0.5rem;
}
.header{
    height: 100svh;
}