html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  .html{scroll-behavior: smooth;}

.introduction{
    align-items: center;
    position: relative;
    display: flex;
    height: 90svh;
    color: var(--text-color);
    transition: all 0.4s;
    border-bottom: var(--border-bottom);
   
  
    background-position-x: 50%;
 
}

.tag{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.techstack{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.about-software-developer{
    color:var(--text-color);
    
}
@keyframes pulse{
    from {
      transform: translateY(-20%);
      
    }
    to{
      transform: translateY(20%);
     
    }}
@keyframes fliker{
  from {
    
    color: #b7cece;
    background-position: right;
  }
  to{
 
   color: #1f1f1f; 
    background-position: left;
  }}

  .flick{
    animation: fliker 2s linear infinite ;
    transition:all 2s;
    
    
  }
  .flick span{
    transition: background-color 0s;
  }
    .arrow{
        animation: pulse 1.5s linear infinite;
        transition: all 3s ease-out;
        font-size: 1rem;
        padding-left: 6px;
    }

.scroll-hint{
    position: absolute;
    bottom: 0;
    left: 45%;
    border: var(--border-bottom);
    border-radius: 0px;
    padding: 0.75rem;
    
    transition: all 3s;
    cursor: default;
    border-bottom: 0px;
}

.Skills{
    list-style: none;
    width: 50%;
}

.emphasis{
    background-color: #b7cece;
    transition: all 1s;
}


.Skills li{
    
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: center;
    font-size: 1.2rem;
    word-spacing: 20px;
    
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    animation-play-state: paused;
    background: var(--background-color);
    background: linear-gradient(to left, var(--background-color) 34%, #b7cece 65%) right;
    background-size: 300% 100%;
    transition: .1s ease-out;
    
   
   
    opacity: 0;
    transition: opacity 3s ease-in ;
    filter: blur(100%);
}

.Skills li:hover{
  background-position: left;
  color: white;
}

.skill-text{
    writing-mode: vertical-rl;
    transform: translateZ(1);
    font-size: 3rem;
    letter-spacing: 0.5rem;
}
.header{
    height: 100svh;
}

.po{
  background: white;
  color: var(--text-color);
    background: linear-gradient(to left, white 50%, #b7cece 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
    animation: fliker 1s forwards;
    
    
}

.nof{
animation-fill-mode: forwards;

  animation-direction: alternate;
  color: var(--text-color);
  background-color: white;
  transition: background-color 2s;
}
.emphasis .po .nof{
  background-color: white;
}
.po:hover{
  background-position: left;
  
  animation: fliker 1s;
}