html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  .html{scroll-behavior: smooth;}

.introduction{
    align-items: center;
    position: relative;
    display: flex;
    height: 90svh;
    transition: all 0.4s;
    border-bottom: 1px solid #1f1f1f;
  
    background-position-x: 50%;
 
}

.tag{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.techstack{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.about-software-developer{
    color:#1f1f1f;
    
}
@keyframes pulse{
    from {
      transform: translateY(-20%);
      
    }
    to{
      transform: translateY(20%);
     
    }}
@keyframes fliker{
  from {
    
    background-color: white;
    color: #1f1f1f;
  }
  to{
    background-color: #b7cece;
    color: #b7cece;
    
  }}

  .flick{
    animation: fliker 2s linear infinite ;
    transition:all 2s;
    
    
  }
  .flick span{
    transition: background-color 0s;
  }
    .arrow{
        animation: pulse 1.5s linear infinite;
        transition: all 3s ease-out;
        font-size: 1rem;
        padding-left: 6px;
    }

.scroll-hint{
    position: absolute;
    bottom: 0;
    left: 45%;
    border: 1px solid #1f1f1f;
    border-radius: 0px;
    
    transition: all 3s;
    cursor: default;
    border-bottom: 0px;
}

.Skills{
    list-style: none;
    width: 50%;
}

.emphasis{
    background-color: #b7cece;
    transition: all 1s;
}


.Skills li{
    
    color: #1f1f1fe1;
    border: 1px solid #1f1f1f;
    text-align: center;
    font-size: 1.2rem;
    word-spacing: 20px;
    
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    animation-play-state: paused;
    
   
   
    opacity: 0;
    transition: opacity 3s ease-in ;
    filter: blur(100%);
}
.skill-text{
    writing-mode: vertical-rl;
    transform: translateZ(1);
    font-size: 3rem;
    letter-spacing: 0.5rem;
}
.header{
    height: 100svh;
}